* {
    margin: 0px;
    padding: 0px;
  }
  
  #form{
    margin-top: 4vh;
  }
  
  #email,
  #password,
  #username,
  #c-password {
    border: 1px solid rgb(204, 204, 204);
  }
  
  #email::placeholder,
  #password::placeholder,
  #username::placeholder,
  #c-password::placeholder {
    color: rgb(179, 179, 179);
  }
  
  .or-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px 0px;
  }
  
  .div {
    border: 1px solid rgb(209, 209, 209);
    background-color: rgb(209, 209, 209);
    width: 35vw;
  }
  